<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  {{> _head}}
</head>
<body>
  <main class="container">
    <h1>Hello {{name}}!</h1>
    <a href="/frobulators">
      {{> icons/_list}}
      Show Frobulators
    </a>
  </main>
  {{> _foot}}
</body>
</html>